*{
  margin: 0px;
  padding: 0px;
}

#lateralI{
  padding-bottom: 86vh;
  width: 10vw;
}

#lateralD{
  padding-bottom: 86vh;
  width: 10vw;
}
#navbar{
  background: white;
  color: black;
  
}

#navbar td{
  padding-top: 5vh;
  padding-bottom: 5vh;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  border: 0px;
}

#inicio{
  width: 10%;
}
#inicio:hover{
  color: white;
  background-color: black;
}
#nuevoCliente{
  width: 10%;
}
#nuevoCliente:hover{
  color: white;
  background-color: black;
}

#titulo{
  color: white;
  background-color: black;
  height: 15vh;
  text-align: center;
  font-size: 25px;
}
#tablita{
  padding-bottom: 10%;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  padding-left: 4vw;
  padding-right: 4vw;
}
#columna td{
  width: 14vw;
  height: 8vh;
}
#boton{
  height: 6vh;
  width: 12vw;
}
a{
  text-decoration: none;
}